<article class="slds-card">
  <div class="slds-card__header slds-grid">
  <!-- ************ Header of the component **********-->
    <header class="slds-media slds-media--center slds-has-flexi-truncate">
      <div class="slds-media__figure">
        <span class="slds-icon_container slds-icon-standard-contact" title="description of icon when needed">
          <svg class="slds-icon slds-icon--small" aria-hidden="true">
            <use xlink:href="/css/icons/custom-sprite/svg/symbols.svg#custom83"></use>
          </svg>
        </span>
      </div>
      <div class="slds-media__body">
        <h2>
          <a href="javascript:void(0);" class="slds-card__header-link slds-truncate">
            <span class="slds-text-heading--small">Todos List</span>
          </a>
        </h2>
      </div>
    </header>
    <div class="slds-no-flex">
        <button type="button" nglButton="neutral" (click)="open()">New Todo</button>
        <!-- *************** Modal markup is here ************** -->
        <ngl-modal [header]="noHeader ? '' : 'New Todo'" [(open)]="opened" [size]="size" [directional]="directional">
          <div body>
            <!-- form goes in here for adding new todos -->
            <div class="slds-form-element">
            <label class="slds-form-element__label" for="addTodo">Enter Todo</label>
            <div class="slds-form-element__control">
              <input type="text" id="addTodo" class="slds-input" placeholder="Don't forget to..." autofocus #todoText/>
            </div>
          </div>
          </div>
          <template ngl-modal-footer *ngIf="!noFooter">
            <button class="slds-button slds-button--neutral" (click)="cancel()">Cancel</button>
            <button class="slds-button slds-button--brand" (click)="addTodo($event, todoText)">Save</button>
          </template>
      </ngl-modal>
    </div>    
  </div>
  <!-- *********** loop through all the todos here ************** -->
  <div class="slds-grid" *ngFor="let todo of todos">
    <div class="slds-card-body slds-box slds-m-around--small slds-theme--default">
      <div class="slds-grid slds-wrap slds-grid--pull-padded">
        <div class="slds-large-size--2-of-12 slds-medium-size--1-of-6">
          <div class="slds-form-element">
            <div class="slds-form-element__control">
              <span class="slds-checkbox">
                <input type="checkbox" name="options" id="{{todo.id}}" [checked]="todo.iscomplete" (click)="updateStatus(todo)" />
                <label class="slds-checkbox__label" for="{{todo.id}}">
                  <span class="slds-checkbox--faux"></span>
                  <span class="slds-form-element__label">Completed?</span>
                </label>
              </span>
            </div>
          </div>
        </div>
        <div class="slds-large-size--8-of-12 slds-medium-size--4-of-6">
          <span [class]="(todo.isEditMode ? 'slds-hide' : 'slds-show')">
            {{todo.todo}}
          </span>
          <div [class]="(todo.isEditMode ? 'slds-show' : 'slds-hide')">
            <input type="text"  [value]="todo.todo" (keypress)="updateTodoText($event, todo)">
            <button class="slds-button slds-button--destructive" (click)="setEditState(todo, false)">Cancel</button>
          </div>
        </div>
        <div class="slds-large-size--2-of-12 slds-medium-size--1-of-12">
          <button class="slds-button slds-button--icon-border" (click)="deleteTodo(todo)" aria-live="assertive" title="Delete">
            <svg class="slds-button__icon" aria-hidden="true">
              <use xlink:href="/css/icons/action-sprite/svg/symbols.svg#delete"></use>
            </svg>
            <span class="slds-assistive-text">Delete</span>
          </button>
          <button class="slds-button slds-button--icon-border" (click)="setEditState(todo, true)"aria-live="assertive" title="Edit">
            <svg class="slds-button__icon" aria-hidden="true">
              <use xlink:href="/css/icons/action-sprite/svg/symbols.svg#edit"></use>
            </svg>
            <span class="slds-assistive-text">Edit</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</article>